<div class="container clearfix" id="home">
	<img class="profile" src="<%= asset_path 'profile.jpg' %>" alt=""></img>
	<div>
		<h1>I'm Sam Giles</h1>
		<p>I'm a Web-Designer/Developer/Student.</p>
		<p>I work at Ziontech Solutions in Yeovil, Somerset.</p>
		<ul class="links">
			<li><a href="http://github.com/samuelgiles">github</a></li>
			<li><a href="http://uk.linkedin.com/pub/samuel-giles/33/268/200/">linkedin</a></li>
			<li><a href="http://twitter.com/livelikeasam">twitter</a></li>
			<li><a href="http://last.fm/user/livelikeasam">last.fm</a></li>
		</ul>
	</div>
</div>
<div id="live-container">
</div>