<img src="<%= asset_path 'profile.jpg' %>" alt=""></img>
<h1>I'm Sam Giles</h1>
<p>I'm a Web-Designer/Developer/Student.</p>
<p>I work at Ziontech Solutions in Yeovil, Somerset</p>
<ul>
	<li><a href="https://github.com/samuelgiles">github</a></li>
</ul>