<!DOCTYPE html>
<html>
<head>
	<title>Samuelgil</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<script type="text/javascript" src="//use.typekit.net/fte1chk.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<script src="http://192.168.1.2:8000/socket.io/socket.io.js"></script>

</head>
<body>
<div class="front">
<%= yield %>
</div>
</body>
</html>
